@font-face {
	font-family: 'Alfa Slab One';
	src: url('./fonts/alfaslabone/AlfaSlabOne-Regular.eot');
	src: url('./fonts/alfaslabone/AlfaSlabOne-Regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/alfaslabone/AlfaSlabOne-Regular.woff') format('woff'),
		url('./fonts/alfaslabone/AlfaSlabOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("./fonts/opensans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("./fonts/opensans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("./fonts/opensans/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("./fonts/opensans/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("./fonts/opensans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("./fonts/opensans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("./fonts/opensans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("./fonts/opensans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("./fonts/opensans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("./fonts/opensans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("./fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("./fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("./fonts/opensans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("./fonts/opensans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("./fonts/opensans/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("./fonts/opensans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("./fonts/opensans/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("./fonts/opensans/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("./fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("./fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }
/* END Extrabold Italic */


