/**
  App template / module css
  @author David Rugendyke
*/

/*** Contact ************/

#app > .section.contact .content form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px; 
}

#app > .section.contact .content form > * {
    position: relative;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}

#app > .section.contact .content form input, #app > .section.contact .content form textarea, #app > .section.contact .content form button {
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    background-color: #d38c43;
    transition: all 1s ease;
    color: #000;
}

#app > .section.contact .content form input::placeholder, #app > .section.contact .content form textarea::placeholder {
    color: #333;
}

#app > .section.contact .content form button {
    width: 20%;
    cursor: pointer;
}

#app > .section.contact .content form button:hover, #app > .section.contact .content form > *:focus {
    background-color: #ebc093;
}

#app > .section.contact .content .thanks {
    display: none;
    font-size: 20px;
    padding: 20px 0;
    color: #fff;
}






